.body{
    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
.background-color{
    background-color: #F0FFF0;
    width: 1440px;
    height: 576px;
   
}
.navbar-brand img{
    width: 25%;
}
.navbar-nav li {
    margin-left:15px;
}
.sign-in{
    margin-top: 10px;

}
.sign{
    margin-right: 60px;
    border:1px solid lightblue;
    width: 104px;
    height: 43px;
    color: #FFFFFF;
    background-color: #21B573;
    border-radius: 40px;
    padding: 8px 18px;
    text-decoration: none;


}
.sign:hover{
    background-color: lightcoral;
}
.ready{
    color: #FD511A;
    font-weight: 16;
}
.col-md-6{
    margin-top: 50px;
}
.col-md-6 h1{
    font-weight: bold;
    width: 405px;
    height: 140px;
}
.col-md-6 p{
    width: 403px;
    height: 85px;
    font-weight: 16;
}
.heighlight{
    color: #21B573;
}
.get-started{
    background-color: #21B573;
    color: white;
    width: 153px;
    height: 43px;
    border-radius: 33px;
    border: none;
}
.get-started:hover{
    background-color: lightsalmon;
}
.on-course{
    text-align: center;
}
.on-course h2{
    font-weight: bold;
    margin-bottom: 40px;
    color: #413960;
}
.col-md-6 img{
    width: 90%;
}
.book, .test, .students{
    border: none;
    padding-right: 20px;
    border-radius: 20px;
    background-color: #F8FFFB;
    text-align: center;
    height: 250px;   
}
.col-md-3{
    margin-top: 50px;
}
.col-md-3 img{
    width:25%;
    margin-top:40px ; 
}
.active-student{
    border: none;
    box-shadow: 5px 5px 10px lightgrey ;
    padding: 5px 0px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    height: 250px;
    
}
.calender img{
    width: 24px;
}
.people img{
    width:24px;
}
.testimonial h2{
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
    font-weight: bold;
}
.col-md-8 p{
    font-weight: 16;
}
.chcek{
    display: flex;
    justify-content: flex-end;
}
.card{
    border: none;
    box-shadow: 10px 10px 20px lightgrey;
    border-radius: 20px;
}
.card-footer{
    border: none;
    background-color: white;
}
.course {
    color: #FFFFFF;


    
}
.col-md-4 p{
    text-align: center;

}

.col-md-4 img{
    width: 120px;
    height: 120px;
}
.bg-color{
  
    background-color: #282531;
    height: 620px
}
.fotter-para p{
    font-weight: 16;
    color: #FFFFFF;
}
.col-md-4 p{
    color: white;
}
.col-md-2 a{
    color: #FFFFFF;
    font-weight: 60;
}
.col-md-2 ul{
    list-style: none;
    margin-top: 80px;
}
.media li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    color: #ae9de2;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-right: 20px;
}
.testing a{
    
    color: white;
    background-color: #d86767;
    border: 1px solid hotpink;
    border-radius: 10px;
    width: 10px 20px;
    text-decoration: none;
}
.testing a:hover{
    background-color: indianred;
}

.testing h3{
    text-align: center;
    color: white;
}
.copyright{
    text-align: center;
    color: white;
}

